.bodyColor {
    background-image: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}


.buttonAnimation {

width: 90px;
height: 30px;
font-weight: bold;
}

.buttonAnimation:active {
    background-color: radial-gradient(#CCCCFF, #FFFCCC);
    position: 50%;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    animation-name: buttonOne;
    animation-dutation: 2000;
}
@keyframes buttonOne {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.5);
    }
}