body{
	margin: 0;
	padding: 0;
	background: url(img/hd-wallpaper-ivy-wall-207301.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.regbox{
	width: 450px;
	height: 580px;
	background:#f0dada;
	color: #fff;
	top: 50%;
	left: 50%;
	/*right: 50%;*/
	transform: translate(-50%,-50%);
	position: absolute;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 70px;
	border-radius: 20px;
   /* box-shadow: 0 15px 25px rgba(0,0,0,.5);*/
	background: rgba(0,0,0,.3);
}
h2{
	text-align: center;
	margin-bottom: 40px;
	margin-top:0px ;
	
	
}
	
