body{
	padding: 0;
	margin: 0;
	
}

.con{

	bottom: 5%;
	left: 5%;
	transform: translate(-50%.-50%);
	width: 900px;
	padding: 30px;
	background: #fff;
	box-sizing: border-box;
	
	/*box-shadow: 0 15px 15px rgba(0,0,0,.5);
	opacity: .8;*/

}
.container{
	
	bottom: 5%;
	left: 5%;
	transform: translate(-50%.-50%);
	width: 900px;
	padding: 30px;
	background: #fff;
	box-sizing: border-box;
	
	/*box-shadow: 0 15px 15px rgba(0,0,0,.5);
	opacity: .8;*/
}
