.headerstyle {
			            font-size: 40px;
			            color: green;
		              }

		.contentstyle {
			           	font-size: 30px;
			           	color: aqua  !important	;				  }  

        #firstid { font-size: 20px;
                   color: deeppink;
                      }	